{% extends 'base.html.twig' %}

{% block submenu %}
{% endblock %}

{% block title %} { 'title.already_in_your_list'|trans }} {% endblock %}

{% block body %}

    <div class="example-wrapper">

        <p>{{ 'title.already_in_your_list'|trans }}</p>

    </div>
{% endblock %}