<html><body bgcolor="#EFEFEF">
<img src="http://www.klik2match.nl/gfx/klik2matchlogo.png" alt="klik2match" /><br />
Hallo {{ username }},  <br /><br />Leuk dat je je hebt ingeschreven op <a href="http://www.klik2match.nl">http://www.klik2match.nl</a>
<br /> <br /><br />
Dit zijn je login gegevens: <br /><br />
gebruikersnaam: {{ username }}<br />
wachtwoord    : {{  password }}
<br /><br />
Veel plezier!
</body></html>